@{
    ViewBag.Title = "愛媛イベントカレンダーについて";
}
<h2>@ViewBag.Title.</h2>

<h3>コンセプトは「みんなでつくろう」</h3>
<p>
    イベントのまとめサイトで、「ここには載ってないけど、こんなイベントあるのに…」という時、
    自分でイベントを登録できれば他の訪問者やイベント主催者に貢献することができますよね。
</p>

<h3>告知サイトからの取り込み</h3>
<p>
    一から情報を登録するのは大変なので、
    イベントの告知サイトからイベントの情報を取り込み（参照）できるようにしています。
    イベント登録画面にて、イベントURLを入力後、「イベント情報を取得」を行ってください。
</p>

対応しているサービス
<ul>
    <li><a href="http://atnd.org/" target="_blank">ATND</a></li>
    <li><a href="http://connpass.com/" target="_blank">conpass</a></li>
    <li><a href="http://www.doorkeeper.jp/" target="_blank">Doorkeeper</a></li>
</ul>
