@{
    ViewBag.Title = "連絡先";
}
<h2>@ViewBag.Title.</h2>

ご要望や苦情はこちらまでお願いします。

<address>
    twitter : <a href="http://twitter.com/nakaji" target="_blank">@@nakaji</a><br />
    GitHub : <a href="https://github.com/nakaji" target="_blank">nakaji</a><br />
</address>
